<a href="https://colab.research.google.com/github/rabastos44/Bootcamp-Data-Science-Alura/blob/master/projeto_ricardo_bastos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Modulo 3  

Analisar a incidência do consumo de Álcool e outras Drogas entre os alunos da Base Pense 2015.
Vamos analisar:
-  o inicio do uso e o uso nos ultimos 30 dias por idade e tipo de instituição (Escola publica ou privada)
- influências dos amigos
- impacto da violência dentro de casa 
- impacto do bulling no consumo
- influencia de emprego e do esporte 

Realizar teste das diferenças não visívies e das visíveis quando interessante

In [73]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [74]:
import pandas as pd
from zipfile import ZipFile

caminho = "/content/drive/MyDrive/PeNSE_2015_AMOSTRA2.zip"
zip = ZipFile(caminho)
caminho_pasta_zipada = zip.namelist()[1]

dados = pd.read_csv(zip.open(caminho_pasta_zipada), sep = ";", thousands = ".", decimal = ",")
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]